@import "reset";

// variables
$margin-text    : 20px;
$margin-section : 50px;

//colors
$c-white        : #ffffff;
$c-black        : #000000;
$c-black-lead   : #474453;
$c-gray-blue    : #617080;
$c-light-gray   : #efefef;

body {
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1.3;
}

// Typograph
.smp-title-A {
    font-size: 1.5em;
    font-weight: 800;
    color: $c-black-lead;
}
.smp-title-B {
    font-size: 1.3em;
    font-weight: 800;
    color: $c-black-lead;
}
.smp-text-A {
    font-size: 1em;
    font-weight: 700;
    color: $c-black-lead;
}
.smp-blockquote {
    font-size: 1.1em;
    font-weight: 700;
    color: $c-black-lead;
    text-align: center;
}

// Buttons
.smp-btn-A {
    width: 180px;
    height: auto;
    padding: 15px;
    background-color: $c-gray-blue;
    border-color: $c-gray-blue;
    &:focus {
        box-shadow: 0 0 0 0.2rem rgba(97,112,128,.5);
    }
    &:hover {
        background-color: $c-gray-blue;
        border-color: $c-gray-blue;
    }
}

#smp-header {
    width: 100%;
    height: auto;
    padding: 30px 0;
    .smp-logo {
        width: 150px;
        height: 80px;
        background-color: pink;
    }
    .smp-nav {
        padding: 30px 0;
        .smp-nav-itens {
            .smp-nav-item {
                .smp-nav-link {
                    font-size: 1em;
                    font-weight: 800;
                    color: $c-black-lead;
                    text-decoration: none;
                }
            }
        }
    }
}
.smp-banner {
    width: 100%;
    height: 450px;
    background-color: pink;
    .smp-text {
        .smp-title-A {}
        .smp-text-A {
            line-height: 1.4;
            margin-top: 30px;
        }
    }
}
.smp-about {
    margin-top: $margin-section;
    text-align: center;
    .smp-about-text {
        margin-bottom: 40px;
        .smp-title-B{
            margin-top: $margin-text;
        }
        .smp-text-A {
            margin-top: $margin-text;
            &:first-of-type {
                margin-top: 40px;
            }
        }
    }
}
.smp-testimony {
    margin-top: $margin-section;
    padding: $margin-section;
    background-color: $c-light-gray;
    .smp-title-B {
        text-align: center;
    }
    .smp-text-A {
        margin-top: 30px;
        text-align: center;
    }
    .smp-carousel-testimony {
        .d-flex {
            margin-top: $margin-text;
        }
        .smp-blockquote {
            margin-top: $margin-text;
        }
    }
    .carousel-indicators {
        position: relative;
        display: -ms-flexbox;
        display: flex;
        justify-content: center;
        list-style: none;
        height: 100%;
        margin-top: 60px;
        li {
            width: 12px;
            height: 12px;
            background-color: #dddddd;
            border-radius: 100%;
            cursor: pointer;
        }
        .active {
            background-color: #6e6e6e;
        }
    }
}
.smp-services-section {
    margin-top: $margin-section;
    .smp-text-A {
        margin-top: 30px;
    }
    .smp-services {
        margin-top: $margin-section;
    }
    .smp-service-image {
        height: 300px;
        background-color: pink;
        img {}
    }
    .smp-service-description {
        margin-top: $margin-section;
        .smp-text-A {
            margin-top: 20px;
        }
        .smp-services-title {
            font-size: 1.5em;
        }
    }
    .smp-service-checklist {
        margin-top: $margin-section;
        .smp-checklist-items {
            background-color: $c-gray-blue;
            padding: 25px;
            width: 420px;
            .smp-checklist-item {
                font-size: 1.1em;
                color: $c-white;
                margin: 10px 0;
                i {
                    margin-right: 10px;
                }
            }
        }
    }
}
.smp-contact-section {
    background-color: $c-light-gray;
    padding: $margin-section;
    margin-top: $margin-section;
    .smp-text-A {
        margin-top: $margin-text;
    }
    .smp-button {
        margin-top: $margin-section;
        .smp-button-link {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 300px;
            padding: 20px;
            background-color: $c-gray-blue;
            border-radius: 5px;
            color: white;
            font-weight: 800;
            font-size: 1.1em;
            i {
                margin-right: 10px;
                font-size: 2em;
                font-weight: 400 !important;
            }
            &:hover {
                text-decoration: none;
            }
        }
    }
}
.smp-form {
    margin-top: $margin-section;
    .smp-title-B {
        text-align: center;
    }
    .wpcf7 {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: $margin-text;
        form {
            .smp-input {
                &:focus {
                    outline: none;
                }
            }
            input.smp-input {
                width: 740px;
                font-size: 1.2em;
                background: transparent;
                margin: 10px 0;
                padding: 12px;
                border: none;
                border-bottom: 2pt solid $c-gray-blue;
            }
            textarea#smp-input-text-area {
                width: 740px;
                height: 40px;
                font-size: 1.2em;
                background-color: transparent;
                border: none;
                border-bottom: 2pt solid $c-gray-blue;
                margin-top: 20px;
            }
            p {
                display: flex;
                justify-content: center;
                    input#smp-input-submit {
                        margin-top: 50px;
                        background: $c-gray-blue;
                        color: $c-white;
                        padding: 20px;
                        outline: none;
                        border: none;
                        font-size: 1.1em;
                        position: relative;
                }
                .ajax-loader {
                    position: absolute;
                    bottom: 0px;
                }
            }
        }
    }
}
.smp-info-section {
    margin-top: $margin-section;
    .smp-title-B {}
    .smp-info-items {
        display: flex;
        justify-content: space-around;
        align-items: center;
        .smp-info-item {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            width: 220px;
            height: 270px;
            text-align: center;
            margin-top: $margin-section;
            .smp-info-title {
                font-size: 1.1em;
                color: $c-gray-blue;
                font-weight: 800;
                height: 45px;
                display: flex;
                align-items: center;
            }
            i {
                font-size: 6em;
                color: $c-gray-blue;
                margin-top: $margin-text;
            }
            .smp-info-text {
                height: 68px;
                font-size: 1.1em;
                color: $c-gray-blue;
                font-weight: 600;
                margin-top: $margin-text;
            }
        }
    }
}
.smp-map-section {
    margin-top: $margin-section;
}
.smp-footer{
    background-color: $c-black;
    .smp-copyright {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80px;
        .smp-copyright-text {
            font-size: 1.1em;
            color: $c-white;
        }
    }
}

